## User configuration file for Systemless Debloater Magisk Module
## Copyright (c) zgfg @ xda
## Config file improvements provided by ipdev @ xda

# This config file contains a list of application names for the preinstalled system apps to be debloated.
## The config file must be named SystemlessDebloater.cfg and placed to your Download folder.

## This config file replaces the old SystemlessDebloaterList.sh input file.
## Please delete your old SystemlessDebloaterList.sh file and use this new config file for future.

## Make sure to uninstall updates and clear data for apps you want to debloat!

## Example list for debloating QuickSearch (Velvet), Chrome and YouTube.
## To put debloating in effect, remove comment signs in front of the app names.

## Example list of stock apps for debloating:
# Velvet
# Chrome
# YouTube

